* {  /*this to make all the margins 0*/
    margin: 0;      
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main {
    background-color: rgba(35, 236, 136, 0.856);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    position: relative;
    z-index: 8em;
    box-shadow: 2px 3px 20px rgb(37, 29, 28);
    background: linear-gradient(108.29deg, rgba(0, 0, 0, 0.71) 2.83%, rgba(45, 42, 42, 0.564484) 85.64%, rgba(88, 82, 82, 0.421952) 108.94%, rgba(92, 86, 86, 0.442708) 145.04%, rgba(0, 0, 0, 0) 195.26%, #000000 195.26%);
}
header {
    position: relative;
    height: 70px;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.59);
    box-shadow: 0px 3px 20px salmon;
}
header:hover {
    box-shadow: 0px 5px 30px salmon;
}
.head {
    position: absolute;
    padding: 0px;
    font-size: 26px;
    left: 10%;
    height: fit-content;
    width: fit-content;
    padding-top: 12px;
    font-size: 24pt;
}
.head a{
    text-decoration: none;
    z-index: 2em;
    width: fit-content;
    height: fit-content;
    mix-blend-mode: normal;
    text-shadow: 7px 10px 5px rgba(59, 59, 59, 0.733);
}
.head a:hover {
    font-size: 26pt;
    color: aquamarine;
}
.info {
    float: right;

    height: fit-content;
    width: fit-content;
}
.info ul {
    display: flex;
    font-size: 16pt;
    padding-top: 15px;
    list-style: none;
}
.info ul li {
    padding-left: 10px;
    padding-right: 15px;
    
}
.info ul li a {
    text-decoration: none;
}
.info ul li a:hover {
    font-size: larger;
    color: aquamarine;
}
/*this for adjusting the left div*/
.left {
    position: absolute;
    width: 400px;
    height: fit-content;
    top: 350px;
    left: 190px;
    text-transform: capitalize;
}
.left h3 {
    padding: 20px;
    font-size: 32pt;
    letter-spacing: -9;
    cursor: pointer;
}
.left h3 :hover {
    cursor: pointer;
}
.left h3 .w:hover {
    color: pink;
}
.left h3 .e:hover {
    color: pink;
}
.left h3 .l:hover {
    color: pink;
}
.left h3 .c:hover {
    color: pink;
}
.left h3 .o:hover {
    color: pink;
}
.left h3 .m:hover {
    color: pink;
}
.left h3 .e:hover {
    color: pink;
}


.left p {
    font-size: 20pt;
    font-weight: 100;
    line-height: 1.7;
}
.left p button {
    display: inline;
}
.left button {
    padding: 5px 14px 5px 14px;
    background-color: pink;
    border-radius: 7px;
    font-size: larger;
    text-align: justify;
    position: relative;
    bottom: 40px;
    left: 220px;
    vertical-align: middle;
    text-transform: capitalize;
}
.left button:hover{
    background-color: rgb(255, 163, 179);
}
.left button a {
    color: black;
    text-decoration: none;
}
/*this to style the right div*/
.right {
    float: right;
    width: 400px;
    height: fit-content;
    position: relative;
    top: 250px;
    right: 190px;
    text-transform: capitalize;
}
.right h3 {
    text-align: center;
    align-items: center;
    right: 32px;
    position: relative;
    font-size: 30pt;
    padding-bottom: 15px;
}
.email-input {
    padding: 10px;
}
.email-input input {
    width: 320px;
    height:40px;
    padding-left: 3px;
    border-radius: 7px;
    border: 1px solid black;
    background-color: rgba(59, 59, 59, 0.733);

}
.email {
    padding-bottom: 10px;
    font-weight: bolder;
}
.email span{
    font-size: smaller;
    font-size: 9pt;
    font-weight: lighter;
    left: 49px;
    padding-bottom: 15px;
    position: relative;
}
.pass-input {
    padding: 10px;
}
.pass-input input {
    width: 320px;
    height:40px;
    padding-left: 3px;
    border-radius: 7px;
    border: 1px solid black;
    background-color: rgba(59, 59, 59, 0.733);
}
.password {
    padding-bottom: 10px;
    font-weight: bolder;
}
.right button {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    position: absolute;
    align-items: center;
    text-align: center;
    background-color: pink;
    cursor: pointer;
    border-radius: 7px;
    color: black;
    font-weight: bold;
    right: 180px;
}
.right button:hover {
    background-color: rgb(255, 163, 179);
}
input {
    outline: none;
}
input:focus {
    box-shadow: 2px 2px gray;
}

#foot-pic {
    z-index: -9;
    position: absolute;
    width: 100%;
    bottom: 0px;
}
